.typography-title, header div, header + div, h1, .function, section a div {
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: inherit;
  color: inherit;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  font-family: "Shrikhand", cursive;
  src: url("../fonts/shrikhand/Shrikhand-Regular.otf") format(otf);
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.hole {
  background-color: #f6f6f6;
}

footer {
  padding-left: 5%;
  padding-bottom: 30px;
  color: white;
  background-color: #353535;
  display: flex;
  flex-direction: column;
}

footer:nth-child(1) {
  font-family: "Shrikhand", cursive;
}

footer:nth-child(2) {
  width: 49.6%;
  display: flex;
  justify-content: space-between;
}
footer:nth-child(2) div {
  background-image: url(../OhmyfoodImages/couverts.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

footer:nth-child(3) {
  width: 40.8%;
  display: flex;
  justify-content: space-between;
}
footer:nth-child(3) div {
  background-image: url(../OhmyfoodImages/hands.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

header {
  text-align: center;
}
header img {
  width: 43%;
  margin-top: 28px;
  margin-bottom: 18px;
}
header + div {
  text-align: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  background-color: #eaeaea;
  box-shadow: 4px 4px 4px #eaeaea insert;
  padding-top: 22px;
  padding-bottom: 19px;
  background-image: url(OhmyfoodImages/local.png);
  /*background-size: 3.5%;*/
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right 64% bottom 50%;
}

.hole.home {
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 33px;
}
.hole.home button {
  width: 58.4%;
  margin-top: 24px auto;
  padding-top: 24px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  border-radius: 50px;
  background-color: #FF79DA;
}

.function {
  width: 86%;
  margin: 15px auto;
  background-color: #f6f6f6;
  border-radius: 18px;
}
.function_order {
  width: 24px;
  height: 24px;
  color: white;
  text-align: center;
  margin-left: -10px;
  background-color: #9356DC;
  border-radius: 50px;
}

h1 {
  margin-left: 17%;
  margin-right: 21.6%;
}

h1 + p {
  margin-left: 10.4%;
  margin-right: 8.3%;
}

section {
  width: 100%;
}
section a {
  /*width: 86.7%;
  margin: 18px auto;*/
  width: 50%;
  height: 80px;
  border-radius: 50px;
}
section a img {
  width: 100%;
}
section a div {
  width: 24%;
  background-color: #99E2D0;
}

head_page {
  background-image: url(../OhmyfoodImages/arrow.png);
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: right 90% bottom 50%;
}

section {
  margin-top: -15px;
  border-radius: 24px 24px 0 0;
  background-image: url(../OhmyfoodImages/hearts.png);
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: right 10% top 5%;
}

h2 {
  margin-top: 30px;
  border-bottom-color: #99E2D0;
  border-bottom-width: 15px;
  padding-bottom: 4px;
}

.menu {
  width: 94%;
  border: 1px solid white;
  border-radius: 16px;
  box-shadow: 4px 2px 2px #e5e5e5;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.menu:nth-child(2) {
  position: rigth;
  margin-right: 5px;
}
.menu_registered {
  display: none;
  width: 15.7%;
  background-image: url(../OhmyfoodImages/check.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #99E2D0;
  background-size: 37%;
  transform-origin: right 50%;
  transition: transform 2000ms;
}
.menu:hover + .menu_registered {
  display: block;
}

/*# sourceMappingURL=restOhmyfood.css.map */
