.click {
    width: 56.4%;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-top-color: $color-secondary;
    border-left-color: $color-secondary;
    border-bottom-color: #9d59dc;
    border-right-color: #9d59dc;
    box-shadow: 6px 6px 6px #d5d5d5;
    @extend .typography-title;
    font-size: 1.2rem;
    color: white;
    border-radius: 50px;
    background: linear-gradient(to bottom right, $color-secondary, #9d59dc);
    &:hover {
        background: lighten($color-secondary, 0.1%);
        border: lighten($color-secondary, 0.1%);
        box-shadow: 9px 9px 9px #d5d5d5;
    }
}