header {
    text-align: center;
     img {
        width: 43%;
        margin-top: 28px;
        margin-bottom: 18px;
    }
     + div {
        @extend .typography-title;
        background-color: #eaeaea;
        border-top-color: #cfcfcf;
        box-shadow: 4px 4px 4px #d5d5d5 inset;
        padding-top: 22px;
        padding-bottom: 19px;
        background-image: url(.././OhmyfoodImages/local.png);
        /*background-size: 3.5%;*/
        background-size: 13px;
        background-repeat: no-repeat;
        background-position: right 66% bottom 50%;
    }
}

.hole.home {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 73px;
    text-align: center;
    font-size: 1.3em;
     h1 {
        font-weight: bold;
        margin-top: 50px;
        /*margin-left: 17%;
        margin-right: 13.6%;*/
        margin-left: auto;
        margin-right: auto;
    }
     p {
        font-weight: thin;
        margin-left: 2.4%;
        margin-right: 5.3%;
        font-size: 1.4rem;
        color: #4d4d4d;
    }
}

#home_subtitle {
    margin-left: 4%;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 1.7rem;
}

.function {
    width: 86%;
    margin: 22px auto;
    padding-top: 5px;
    padding-bottom: 25px;
    background-image: url(../../OhmyfoodImages/shop.png);
    background-repeat: no-repeat;
    background-size: 70px; /*17px*/
    /*4.3%*/
    background-position: left 20% bottom 50%;
    background-color: #f6f6f6;
    border-radius: 24px;
    box-shadow: 6px 6px 8px #eaeaea;
    font-size: 1.3rem;
    text-align: center;
    &.mod {
        background-color: yellow;
    }
    &_order {
        width: 24px;
        height: 24px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -10px;
        top: 20px;
        background-color: $color-primary;
        border-radius: 50px;
        font-size: 1rem;
    }
}

#home_container {
    margin-top: 70px;
    padding-top: 30px;
    &_path {
        font-weight: 800;
        font-size: x-large;
        margin-left: 4%;
    }
     a {
        width: 86.7%;
        position: relative;
        margin: 18px auto;
        border: 1px solid #f6f6f6;
        border-radius: 20px;
        box-shadow: 4px 4px 6px #e6e6e6;
        background-color: white;
         img {
            width: 100%;
            height: 300px;
            border-radius: 20px 20px 0 0;
        }
         div {
            width: 24%;
            padding: 2px 4px;
            @extend .typography-title;
            border-radius: 3px;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 35%);
            position: absolute;
            right: 5%;
            bottom: 90%;
        }
         span {
            width: 80%;
            margin-top: -20px;
            margin-left: 5%;
            margin-right: 15%;
            /*margin-top: 10px;
            margin-bottom: 10px;*/
            display: flex;
            justify-content: space-between;
            background-image: url(../../OhmyfoodImages/hearts.png);
            background-repeat: no-repeat;
            background-size: 30px;
            background-position: right;
             p {
                font-size: large;
            }
        }
    }
}