a {
	text-decoration: inherit;
	color: inherit;
    display: block;
}

@font-face {
    font-family: $family-content;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: $family-title;
    src: url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
}

body {
    font-family: $family-content; 
    margin: 0;
}

.hole {
    background-color: #f6f6f6;
}

footer {
    padding-left: 5%;
    padding-bottom: 30px;
    color: white;
    background-color: #353535;
    display: flex;
    flex-direction: column;
     .box0 {
        font-family: $family-title;
    }
     a {
        display: inline-block;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1px;
        background-repeat: no-repeat;
        background-position: left;
        background-size: 10px;
    }
     .box1 {
        width: 190px;
        background-image: url(.././OhmyfoodImages/couverts.png);
        &_look {
            display: inline-block;
        }
    }
     .box2 {
        width: 40.8%;
        background-image: url(.././OhmyfoodImages/hands.png);
        &_look {
            display: inline-block;
        }
    }
}

#bogoss2 {
    display: flex;
    justify-content: space-between;
}