a {
	text-decoration: inherit;
	color: inherit;
}

@font-face {
    font-family: $family-content;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: $family-title;
    src: url('../fonts/shrikhand/Shrikhand-Regular.otf') format(otf);
}

body {
    font-family: $family-content; 
    margin: 0;
}

.hole {
    background-color: #f6f6f6;
}

footer {
    padding-left: 5%;
    padding-bottom: 30px;
    color: white;
    background-color: #353535;
    display: flex;
    flex-direction: column;
}

footer:nth-child(1) {
    font-family: $family-title;
}

footer:nth-child(2) {
    width: 49.6%;
    display: flex;
    justify-content: space-between;
    & div {
        background-image: url(../OhmyfoodImages/couverts.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
    }
}

footer:nth-child(3) {
    width: 40.8%;
    display: flex;
    justify-content: space-between;
    & div {
        background-image: url(../OhmyfoodImages/hands.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
    }
}