$family-title: 'Shrikhand', cursive;
$family-content: 'Roboto', sans-serif;

.typography-title {
    text-align: center;
    font-weight: bold;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

